.bodyStyle{
    font-family: Lexend;
}

.topNav {
    background-color: black;
    top: 0;
    left: 0;
    width: 100%;
    transform: translateY(0);
    transition: transform 0.25 ease;
    z-index: 100;
}

.topNav.hidden {
    transform: translateY(-100%);
}

.navTab {
    text-decoration: none;
    color: white;
}

.tabSection {
    display: none;
    padding: 40px
}

.tabSection.active {
    display: block;
}