html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.bodyStyle{
    font-family: Lexend;
}

.topNav {
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(4px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transform: translateY(0);
    transition: transform 0.25s ease, background-color 0.3s ease;
    z-index: 100;
    padding: 22px;
    box-sizing: border-box;
}

.topNav.scrolled {
    background-color: rgba(0, 0, 0, 0.75);
}

.topNav.hidden {
    transform: translateY(-100%);
}

.navTabsss {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 25px;
    width:100%;
}

.navTab {
    position: relative;;
    text-decoration: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: 0.2s ease;
    padding-bottom: 2px;
}

.navTab::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: white;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.23s ease;
}

.navTab.active::after {
    transform: scaleX(1);
}

.navTab:hover::after {
    transform: scaleX(1);
}

.exit {
    display: inline-flex;
    align-items: center;
}

.exitText {
    display: inline-block;
    transition: transform 0.23s ease;
}

.exitArrow {
    display: inline-block;
    font-size: 20px;
    opacity: 0;
    transform: translateX(-8px);
    margin-left: 0;
    position: relative;
    top: -6px;
    transition: opacity 0.25s ease, transform 0.25s ease, margin-left 0.25s ease;
}

.exit:hover .exitText {
    transform: translateX(-4px)
}

.exit:hover .exitArrow {
    opacity: 1;
    transform: translateX(0);
    margin-left: 2px;
}

.navIn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navName {
    color: white;
    font-size: 25px;
    cursor: pointer;
    font-weight: 500;
    white-space: nowrap;
}

.tabSection {
    display: none;
    padding: 40px;
}

.tabSection.active {
    display: block;
}

.heroIntro {
    position: relative;
    height: 135vh;
    background: 
        linear-gradient(to bottom, rgb(255,255,255,0) 0%, rgba(255,255,255,0) 90%, #f1f1f1 100%),
        url('./Assets/bg.jpg');
    /* blur image? */
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    color: white;
    flex-direction: column;
}

.fadeUp, .fadeSolo {
    opacity: 0;
    transform: translateY(24px);
    transition:  opacity 0.8s ease, transform 0.8s ease;
}

.fadeUp.visible, .fadeSolo.visible {
    opacity: 1;
    transform: translateY(0);
}

.fadeRow1, .fadeRow2 {
    opacity: 0;
    transform: translateY(28px);
    transition:  opacity 1.35s ease, transform 1.35s ease;
}

.fadeRow1.visible, .fadeRow2.visible {
    opacity: 1;
    transform: translateY(0);
}

.heroArrow {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    opacity: 1;
    transition: opacity 0.6s ease;
}

.heroArrow.fade {
    opacity: 0;
    pointer-events: none;
}

.heroArrow.locked {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.arrow {
    animation: bob 2s ease-in-out infinite;
}

@keyframes bob {
    0%, 100% {transform: translateY(0);}
    50% {transform: translateY(8px);}
}

.heroCTA {
    opacity: 0;
    transform: translateY(10px) scale(0.9);
    transition: opacity 0.5s ease, transform 0.5s ease;
    text-align: center;
}

.heroCTA.expanded {
    opacity: 1;
    transform: translateY(0) scale(1);
}

.projectRow {
    display: flex;
    gap: 20px;
    width: 100%;
    box-sizing: border-box;
}

.projectColumn {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
}

.photoColumn {
    display: flex;
    gap: 20px
}

.projectPhoto {
    width: 100%;
    height: 450px;
    object-fit: cover;
    border-radius: 0px;
    margin: 0;
}

.projectPhotoR2 {
    width: 100%;
    height: 450px;
    object-fit: cover;
    border-radius: 0px;
    margin: 0;
}

.projectCard {
    position: relative;
    display: block;
    text-decoration: none;
    color: inherit;
    overflow: hidden;
    border-radius: 8px;
    width: calc((100% - 60px) / 4)
}

.projectCardR2 {
    position: relative;
    display: block;
    text-decoration: none;
    color: inherit;
    overflow: hidden;
    border-radius: 8px;
    width: calc((100% - 20px) / 2)
}

.projectCard .projectPhoto {
    width: 100%;
    transition: filter 0.3s ease, transform 0.3s ease
}

.projectCardR2 .projectPhotoR2 {
    width: 100%;
    transition: filter 0.3s ease, transform 0.3s ease
}

.projectCard:hover .projectPhoto {
    filter: brightness(0.6);
    transform: scale(1.02);
}

.projectCardR2:hover .projectPhotoR2 {
    filter: brightness(0.6);
    transform: scale(1.02);
}

.projectCardOverlay {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

.projectCardName {
    color: white;
    font-size: 22px;
    font-weight: 440;
    opacity: 0;
    transform: translateY(12px);
    transition: opacity 0.3s ease, transform 0.3s ease
}

.projectCard:hover .projectCardName {
    opacity: 1;
    transform: translateY(0);
}

.projectCardR2:hover .projectCardName {
    opacity: 1;
    transform: translateY(0);
}

/* project.html specifics */
.projectDetail {
    max-width: 900px;
    margin: 0 auto;
    padding: 140px 40px 80px
}

.projectDetail h1 {
    font-size: 42px;
}

.projectDetail img{
    max-width: 100%;
    border-radius: 8px;
}

.projectRow {
    display: flex;
    gap: 12px;
}

.projectPhoto {
    width: 50%;
    height: 400px;
    object-fit: cover;
    border-radius: 8px;
    margin-top: 15px;
    margin-bottom: 8px;
}

.projectPhotoS1 {
    width: 50%;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
    margin-top: 15px;
    margin-bottom: 8px;
}

.projectPhotoRB {
    width: 50%;
    height: 500px;
    object-fit: cover;
    border-radius: 8px;
    margin-top: 15px;
    margin-bottom: 8px;
}


.projectDesc {
    display: block;
    font-size: 18px;
}

.projectLiner {
    margin-top: -10px;
    display: block;
    opacity: 0.85;
}

.projectProgress {
    border-radius: 8px;
    margin-top: 15px;
    margin-bottom: 8px;
    overflow: hidden;
    object-fit: cover;
    width: 50%;
    height: 330px;
}

.githubButton {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin-top: 18px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(4px);
    border-radius: 16px;
    text-decoration: none;
    color: #171717;
    font-size: 18px;
    transition: 0.15s ease, background 0.15s ease;
    height: 50px
}

.githubButton:hover {
    background: rgba(255, 255, 255, 0.5);
    transform: scale(1.02);
}

.projectRow .projectCard:nth-child(1) {
    transition-delay: 0s;
}

.projectRow .projectCard:nth-child(2) {
    transition-delay: 0.15s;
}

.projectRow .projectCard:nth-child(3) {
    transition-delay: 0.3s;
}

.projectRow .projectCard:nth-child(4) {
    transition-delay: 0.45s;
}

.projectRow .projectCardR2:nth-child(1) {
    transition-delay: 0s;
}

.projectRow .projectCardR2:nth-child(2) {
    transition-delay: 0.15s;
}

.projectRow .projectCardR2:nth-child(3) {
    transition-delay: 0.3s;
}

.projectRow .projectCardR2:nth-child(4) {
    transition-delay: 0.45s;
}

.notesContact {
    height: 45px;
    width: 45px;
    cursor: pointer;
    transition: transform 0.17s ease;
}

.notesContact:hover {
    transform: scale(1.1)
}

.notesSocials {
    display: flex;
    justify-content: flex-start;
    gap: 6px
}

.notesResume {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 3px solid black;
    color: black;
    text-decoration: none;
    padding: 8px;
    border-radius: 16px;
    transition: transform 0.17s ease;
}

.notesResume:hover {
    transform: scale(1.1)
}

.aboutMe {
    width: 950px;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: flex-start;
}

.aboutColumn {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.aboutColumn hr {
    width: 100%;
    flex-shrink: 0;
}

.skillCategory {
    font-size: 20px;
    margin-bottom: 16px;
    margin-top: 26px;
}

.skillTags {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 8px;
}

.skillTag {
    padding: 8px 14px;
    background: rgba(0,0,0,0.04);
    border-radius: 20px;
    font-size: 14px;
    width: fit-content;
    opacity: 0;
    transform: translateY(12px);
    transition: transform 0.2s ease, opacity 0.8s ease, translate 0.8s ease;
}

.skillTag.visible {
    opacity: 1;
    transform: translateY(0);
}

.skillTag:hover {
    transform: scale(1.03);
}

.skillTag:nth-child(1) { transition-delay: 0s;}
.skillTag:nth-child(2) { transition-delay: 0.15s;}
.skillTag:nth-child(3) { transition-delay: 0.3s;}
.skillTag:nth-child(4) { transition-delay: 0.45s;}
.skillTag:nth-child(5) { transition-delay: 0.6s;}

.fadeTop, .fadeBottom {
    opacity: 0;
    transform: translateY(24px);
    transition: opacity 1s ease, transform 1s ease
}

.fadeTop.visible, .fadeBottom.visible {
    opacity: 1;
    transform: translateY(0);
}

#heroEnd {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
}

#projects {
    background: #f1f1f1
}

#about {
    min-height: 90vh;
    background: #f1f1f1
}